*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25vh; }
  .heading-primary--main {
    font-size: 7rem;
    font-weight: 700;
    letter-spacing: 2rem;
    animation-name: moveToleft;
    animation-duration: 2s; }
  .heading-primary--sub {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .5rem;
    animation-name: moveToRight;
    animation-duration: 2s;
    margin-bottom: 4rem; }

.heading-secondry {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .3s; }
  .heading-secondry:hover {
    text-shadow: 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.2);
    transform: scale(1.1); }

.heading-paragraph {
  font-size: 1.6rem;
  text-transform: uppercase; }

.paragraph:not(:last-child) {
  margin-bottom: 3rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  background-size: cover;
  background-position: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%); }
